html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
* Layout
*/
body {
  margin: 5px 10px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: .5em 0 .25em 0;
  line-height: 1;
  font-weight: bold;
}
p,
ul,
ol,
dl {
  margin: .2em 0 1em 0;
}
ul, ol, dl {
  margin-top: 1em;
}
blockquote {
  margin: .75em 1.3em;
}
/*
* Lists
*/
ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ul, ol {
  padding-left: 2em;
}
ul ul, ol ul {
  margin-top: .2em;
}
dd {
  margin-left: 1.3em;
}
/*
* Tables
*/
table {
  margin: 10px;
}
td {
  padding-left: 5px;
  padding-right: 5px;
}
/*
* basic typography
*/
body {
  font-size: 100%;
  line-height: 1.5;
  font-family: sans-serif;
}
body > * {
  /* font-size:.875em; */
  /* .875*16px=14px font-size:100% corresponds to 16px*/

}
h1 {
  font-size: 1.3em;
}
h2 {
  font-size: 1.2em;
}
h3 {
  font-size: 1.1em;
}
h4 {
  font-size: 1em;
}
/*
* semantic inline elements
*/
abbr, acronym {
  border-bottom: 1px dotted #AAA;
}
sub {
  vertical-align: sub;
  font-size: .8em;
}
sup {
  vertical-align: super;
  font-size: .8em;
}
/*
* Semantic elements and their equivalents
*/
samp,
var,
pre,
code,
tt {
  font-family: monospace, monospace;
  white-space: pre;
}
s, del {
  text-decoration: line-through;
}
i,
em,
cite,
dfn {
  font-style: italic;
}
b, strong, th {
  font-weight: bold;
}
ins, u {
  text-decoration: underline;
}
/*
* Non-semantic elements
*/
small {
  font-size: .7em;
}
big {
  font-size: 1.3em;
}
.wp_syntax {
  color: #100;
  background-color: #f9f9f9;
  border: 1px solid silver;
  margin: 0 0 1.5em 0;
  overflow: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
}
/* IE FIX */
.wp_syntax {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: expression(this.scrollWidth > this.offsetWidth ? 15 : 0);
  width: 100%;
}
.wp_syntax table {
  border-collapse: collapse;
}
.wp_syntax div, .wp_syntax td {
  vertical-align: top;
  padding: 2px 4px;
}
.wp_syntax .line_numbers {
  text-align: right;
  background-color: #def;
  color: gray;
  overflow: visible;
}
/* potential overrides for other styles */
.wp_syntax pre {
  margin: 0;
  width: auto;
  float: none;
  clear: none;
  overflow: visible;
  font-size: 12px;
  line-height: 1.333;
  white-space: pre;
}
div.wp-caption {
  padding: 5px;
  margin: 10px;
  background-color: #f7f7f7;
}
p.wp-caption-text {
  margin: 5px;
  text-align: center;
}
div.article-text img.alignright {
  float: right;
}
div.article-text img.alignleft {
  float: left;
}
div.article-text img.aligncenter {
  align: middle;
}
div.article-text img {
  padding: 10px;
}
/* IC: Remove top margin for small avatars. */
img.avatar-36 {
  margin-top: 0px;
}
/* macton: gravatar plugin puts this lame border at the bottom. */
/* macton: ...and shifts it around on-hover. */
img.avatar.photo.grav-clone, img.avatar.photo.grav-clone:hover {
  border-width: 1px !important;
}
body {
  background-color: #ffffff;
  color: #444444;
}
div#sidebar {
  background-color: #eeeeee;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 5px;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 5px;
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.1) 0px 0px 5px;
}
div#sidebar h1, div#sidebar h1 a {
  color: #8d8d8d;
}
div#content {
  background-color: transparent;
}
div#content .header {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
div.post-excerpt {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}
a, a:visited {
  color: #47afd5;
  /* color: #d38533; */
}
div.article-text b, div.article-text strong, div.article-text th {
  font-weight: normal;
  color: #222222;
}
div.article-text h1,
div.article-text h2,
div.article-text h3,
div.article-text h4,
div.article-text h5,
div.article-text h6,
div.article-text big {
  font-weight: normal;
  color: #222222;
}
a.author-login, a.author-login:visited {
  font-size: 0.8em;
  color: #47afd5;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Terminal Dosis', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.35em;
  line-height: 1.5;
}
body.mouse a {
  text-decoration: none;
}
body.mouse a:hover {
  text-decoration: underline;
}
body.touch a, body.touch a:hover {
  text-decoration: underline;
}
div#sidebar div.header h1 {
  font-size: 2em;
}
div.post-excerpt div.article-text h1,
div.post-excerpt div.article-text h2,
div.post-excerpt div.article-text h3,
div.post-excerpt div.article-text h4,
div.post-excerpt div.article-text h5,
div.post-excerpt div.article-text h6,
div.post-excerpt div.article-text big {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  line-height: 1.3;
}
div.post-excerpt div.author {
  font-size: 0.75em;
}
div.article div.meta {
  font-size: 0.75em;
}
div.post-excerpt div.article {
  padding-left: 168px;
}
div.article h2.title {
  margin-bottom: 8px;
}
div.article div.meta {
  min-height: 2em;
}
div.article div.meta div.comment-count {
  float: left;
}
div.article div.article-text img {
  padding-left: 10px;
  padding-bottom: 10px;
}
.author-profile {
  padding-bottom: 1.5em;
}
.author-profile img.avatar {
  float: left;
}
.author-profile div.about {
  padding-left: 140px;
}
.author-profile div.links {
  padding-top: 10px;
  padding-bottom: 10px;
}
.author-profile ul.button-list {
  margin: 5px 0 5px 0;
}
#header-cycle .entry {
  display: none;
}
#header-cycle .entry img {
  float: left;
  padding: 20px;
  height: 150px;
}
#header-cycle .entry .first {
  display: block;
}
#header-cycle .entry p:first-of-type {
  padding-top: 20px;
}
div.post-excerpt {
  min-height: 200px;
  margin-bottom: 20px;
}
div.post-excerpt div.author {
  min-height: 200px;
  float: left;
  width: 148px;
}
div.post-excerpt div.author .avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 128px;
}
div.post-excerpt div.author div.date {
  background: url(http://altdevblogaday.com/wp-content/themes/macton-isabella/css/images/date.png) no-repeat left center;
  padding-left: 24px;
  padding-right: 10px;
}
div.post-excerpt div.author div.name {
  text-align: right;
  margin-right: 20px;
}
div.post-excerpt a.more-link {
  display: none;
}
div.post-full ul {
  list-style-type: disc;
  padding-left: 2em;
  padding-bottom: 1em;
}
.button a {
  background: #f7f7f7;
  color: #888888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
}
body.mouse .button a:hover, body.touch .button a {
  background: #47afd5;
  color: #ffffff;
}
body.mouse .button.twitter a:hover, body.touch .button.twitter a {
  background: #5ec8e8;
  color: #ffffff;
}
body.mouse .button.facebook a:hover, body.touch .button.facebook a {
  background: #5d73a1;
  color: #ffffff;
}
body.mouse .button.googleplus a:hover, body.touch .button.googleplus a {
  background: #ca4c4c;
  color: #ffffff;
}
body.mouse .button.reddit a:hover, body.touch .button.reddit a {
  background: #ff4500;
  color: #ffffff;
}
ul.button-list {
  margin: 0;
  padding: 0;
  display: inline;
}
ul.button-list li {
  display: inline;
  margin-left: 0;
}
ul.button-list.align-left {
  float: left;
}
ul.button-list.align-left li {
  margin-right: 5px;
}
ul.button-list.align-right {
  float: right;
}
ul.button-list.align-right li {
  margin-left: 5px;
}
div.post-full ul.button-list {
  margin: 0;
  padding: 0;
}
.nav {
  text-align: right;
  margin-bottom: 5px;
  padding-bottom: 20px;
  padding-top: 100px;
}
.nav li {
  list-style-type: none;
  padding: 0 0 15px 0;
}
.nav a {
  color: #b2b2b2;
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  text-shadow: 1px 1px #f7f7f7;
  /* background: url(http://altdevblogaday.com/wp-content/themes/macton-isabella/css/images/led-off.png) no-repeat right center; */
  padding-right: 20px;
}
.nav a:hover {
  color: #000;
  text-decoration: none;
  /* background: url(http://altdevblogaday.com/wp-content/themes/macton-isabella/css/images/led.png) no-repeat right center; */
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}
.nav .current a {
  color: #5a5a5a;
  /* background: url(http://altdevblogaday.com/wp-content/themes/macton-isabella/css/images/led.png) no-repeat right center; */
  padding-right: 20px;
}
div.page-authors div.author {
  min-height: 225px;
  float: left;
  width: 155px;
  font-size: 0.95em;
}
div.page-authors div.author a {
  float: left;
  margin: 0;
  padding: 0;
}
div.page-authors div.author img {
  margin: 5px 2px 0 0;
  padding: 0;
}
div.page-authors div.author .avatar {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  min-height: 128px;
}
body.mouse {
  margin: 0;
  padding-left: 400px;
  overflow-x: hidden;
  /* div#content */

}
body.mouse div#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  min-width: 250px;
  height: 100%;
}
body.mouse * html body {
  overflow: hidden;
}
body.mouse * html div#content {
  height: 100%;
  overflow: auto;
}
body.mouse div#sidebar {
  padding-top: 20px;
  text-align: right;
  padding-right: 20px;
}
body.mouse div#content {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20%;
  text-align: left;
}
body.mouse div#content .header {
  margin-bottom: 4px;
}
/* body.mouse */
body.touch {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: left;
  font-size: 1.25em;
  /* div#content */

}
body.touch #dsq-content #dsq-comments .dsq-comment-message {
  font-size: 1.25em;
  line-height: 1.6;
}
body.touch div#sidebar {
  position: static;
  width: 100%;
  height: 150px;
}
body.touch * html body {
  overflow: hidden;
}
body.touch * html div#content {
  width: 100%;
  overflow: auto;
}
body.touch div#sidebar {
  padding: 0;
  margin: 0;
  padding-top: 2em;
  text-align: left;
}
body.touch div#sidebar .header {
  padding-left: 5em;
  padding-right: 5em;
}
body.touch div#content {
  padding: 0;
  margin: 0;
  padding-top: 2em;
  padding-left: 5em;
  padding-right: 5em;
  text-align: left;
}
body.touch div#content .header {
  margin-bottom: 4px;
}
body.touch div#content .main-header {
  display: none;
  /* Dunno. It *is* pretty big in the mobile view... */

}
body.touch .nav {
  width: 100%;
  min-height: 2em;
  padding: 0;
  margin: 0;
  display: inline;
}
body.touch .nav li {
  background-color: #eeeeee;
  float: right;
  padding: 0 0 0 10px;
  margin: 0;
}
body.touch .nav li a {
  color: #47afd5;
}
@media screen and (max-width: 1280px) {
  body.mouse {
    margin: 0;
    padding-left: 250px;
    overflow-x: hidden;
    /* div#content */
  
  }
  body.mouse div#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    min-width: 150px;
    height: 100%;
  }
  body.mouse * html body {
    overflow: hidden;
  }
  body.mouse * html div#content {
    height: 100%;
    overflow: auto;
  }
  body.mouse div#sidebar {
    padding-top: 20px;
    text-align: right;
    padding-right: 20px;
  }
  body.mouse div#content {
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 10%;
    text-align: left;
  }
  body.mouse div#content .header {
    margin-bottom: 4px;
  }
  /* body.mouse */
  body.touch {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: left;
    font-size: 1.25em;
    /* div#content */
  
  }
  body.touch #dsq-content #dsq-comments .dsq-comment-message {
    font-size: 1.25em;
    line-height: 1.6;
  }
  body.touch div#sidebar {
    position: static;
    width: 100%;
    height: 150px;
  }
  body.touch * html body {
    overflow: hidden;
  }
  body.touch * html div#content {
    width: 100%;
    overflow: auto;
  }
  body.touch div#sidebar {
    padding: 0;
    margin: 0;
    padding-top: 2em;
    text-align: left;
  }
  body.touch div#sidebar .header {
    padding-left: 5em;
    padding-right: 5em;
  }
  body.touch div#content {
    padding: 0;
    margin: 0;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    text-align: left;
  }
  body.touch div#content .header {
    margin-bottom: 4px;
  }
  body.touch div#content .main-header {
    display: none;
    /* Dunno. It *is* pretty big in the mobile view... */
  
  }
  body.touch .nav {
    width: 100%;
    min-height: 2em;
    padding: 0;
    margin: 0;
    display: inline;
  }
  body.touch .nav li {
    background-color: #eeeeee;
    float: right;
    padding: 0 0 0 10px;
    margin: 0;
  }
  body.touch .nav li a {
    color: #47afd5;
  }
}
@media screen and (max-width: 960px) {
  body.mouse, body.touch {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: left;
    font-size: 1.25em;
    /* div#content */
  
  }
  body.mouse #dsq-content #dsq-comments .dsq-comment-message, body.touch #dsq-content #dsq-comments .dsq-comment-message {
    font-size: 1.25em;
    line-height: 1.6;
  }
  body.mouse div#sidebar, body.touch div#sidebar {
    position: static;
    width: 100%;
    height: 150px;
  }
  body.mouse * html body, body.touch * html body {
    overflow: hidden;
  }
  body.mouse * html div#content, body.touch * html div#content {
    width: 100%;
    overflow: auto;
  }
  body.mouse div#sidebar, body.touch div#sidebar {
    padding: 0;
    margin: 0;
    padding-top: 2em;
    text-align: left;
  }
  body.mouse div#sidebar .header, body.touch div#sidebar .header {
    padding-left: 5em;
    padding-right: 5em;
  }
  body.mouse div#content, body.touch div#content {
    padding: 0;
    margin: 0;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    text-align: left;
  }
  body.mouse div#content .header, body.touch div#content .header {
    margin-bottom: 4px;
  }
  body.mouse div#content .main-header, body.touch div#content .main-header {
    display: none;
    /* Dunno. It *is* pretty big in the mobile view... */
  
  }
  body.mouse .nav, body.touch .nav {
    width: 100%;
    min-height: 2em;
    padding: 0;
    margin: 0;
    display: inline;
  }
  body.mouse .nav li, body.touch .nav li {
    background-color: #eeeeee;
    float: right;
    padding: 0 0 0 10px;
    margin: 0;
  }
  body.mouse .nav li a, body.touch .nav li a {
    color: #47afd5;
  }
}
@media print {
  body.mouse, body.touch {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-align: left;
    font-size: 1.25em;
    /* div#content */
  
  }
  body.mouse #dsq-content #dsq-comments .dsq-comment-message, body.touch #dsq-content #dsq-comments .dsq-comment-message {
    font-size: 1.25em;
    line-height: 1.6;
  }
  body.mouse div#sidebar, body.touch div#sidebar {
    position: static;
    width: 100%;
    height: 150px;
  }
  body.mouse * html body, body.touch * html body {
    overflow: hidden;
  }
  body.mouse * html div#content, body.touch * html div#content {
    width: 100%;
    overflow: auto;
  }
  body.mouse div#sidebar, body.touch div#sidebar {
    padding: 0;
    margin: 0;
    padding-top: 2em;
    text-align: left;
  }
  body.mouse div#sidebar .header, body.touch div#sidebar .header {
    padding-left: 5em;
    padding-right: 5em;
  }
  body.mouse div#content, body.touch div#content {
    padding: 0;
    margin: 0;
    padding-top: 2em;
    padding-left: 5em;
    padding-right: 5em;
    text-align: left;
  }
  body.mouse div#content .header, body.touch div#content .header {
    margin-bottom: 4px;
  }
  body.mouse div#content .main-header, body.touch div#content .main-header {
    display: none;
    /* Dunno. It *is* pretty big in the mobile view... */
  
  }
  body.mouse .nav, body.touch .nav {
    width: 100%;
    min-height: 2em;
    padding: 0;
    margin: 0;
    display: inline;
  }
  body.mouse .nav li, body.touch .nav li {
    background-color: #eeeeee;
    float: right;
    padding: 0 0 0 10px;
    margin: 0;
  }
  body.mouse .nav li a, body.touch .nav li a {
    color: #47afd5;
  }
  div#wpadminbar,
  div#sidebar,
  ul.nav,
  ul.button-list,
  div.dsq-reply,
  div#dsq-pagination,
  ul.dsq-comment-actions,
  select#dsq-sort-select {
    display: none;
  }
  body.mouse, body.touch {
    font-family: Georgia, serif;
    font-size: 10pt;
    line-height: 1.5;
  }
  #dsq-content {
    font-size: 8pt;
    line-height: 1.5;
  }
}
