<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script type='text/javascript' src='/modernizr.js'>
    </script>
    <script type="text/javascript" src="/jquery.js">
    </script> 
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,200,600' rel='stylesheet' type='text/css' />
  </head>

  <body class=" mouse">
   
   <div id="sidebar">
    <div class="header">
      <h1><a href="/" title="#Hentula">Joakim Hentula</a></h1>
    </div> <!-- #sidebar div.header -->
    <ul class="nav">
      <li><a href="/">Blog</a></li>
      <li><a href="/cv.html">CV/Resume</a></li>
      <li><a href="http://www.hentula.com/projecs/">Projects</a></li>
    </ul>
  </div> <!-- #sidebar -->

<div id="content">
    
    {{ content }}

    {% if page.comments %}
       <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_shortname = 'joakimhentula';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    {% endif %}


      <script type="text/javascript">
        var disqus_shortname = 'joakimhentula';

        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
        </script>
  </div> <!-- #content -->
  
  </body>

<!-- Change body class based on touch screen device -->
<script type="text/javascript">
  $(document).ready(function() {
     var body = document.body;
    if( Modernizr.touch ) {
        body.className = " touch";
    } else {
        body.className = " mouse";
    }
    
  });
</script>

</html>
