<!DOCTYPE HTML>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Joakim Hentula" />
    <title>hentula.com</title>
    <link rel="stylesheet" type="text/css" href="./menu.css" />
    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,200,600' rel='stylesheet' type='text/css' />
  </head>

  <body class=" mouse">
   <div id="sidebar">
    <div class="header">
      <h1><a href="http://www.hentula.com/" title="#Hentula">Joakim Hentula</a></h1>
      
    </div> <!-- #sidebar div.header -->
    <ul class="nav">
      <li><a href="http://www.hentula.com/blog/">Blog</a></li>
      <li><a href="http://www.hentula.com/cv/">CV/Resume</a></li>
      <li><a href="http://www.hentula.com/projecs/">Projects</a></li>
    </ul>
  </div> <!-- #sidebar -->

  <section>
    {{ content }}
  </section>


  </body>
</html>
